@page "/"


<div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>
   
</div>

<style>
    .greeting {
        font-weight: 300;
        font-size: 28px;
        line-height: 37px;
        padding: 16px;
        background: #fafafa;
    }
</style>
